<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>LLMTray</string>
	<key>CFBundleDisplayName</key>
	<string>LLMTray</string>
	<key>CFBundleIdentifier</key>
	<string>us.ipsupport.llmtray</string>
	<key>CFBundleExecutable</key>
	<string>LLMTray</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>Apache License 2.0 -- ipsupport-llc</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://ipsupport-llc.github.io/llmtray/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>Zql29c5Ol6ibqqO4TzglAV2fi53g+AExgcqtMtvBq9c=</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
</dict>
</plist>
